@font-face{
  font-family: 'canela-bold';
  src: local("Canela-Bold.otf"), url("./Canela-Bold.woff");
}

@font-face{
  font-family: 'graphik';
  src: local("graphik.otf"), url("./Graphik-Regular.woff");
}

@font-face{
  font-family: 'graphik-medium';
  src: local("graphik.otf"), url("./Graphik-Medium.woff");
}

@font-face{
  font-family: 'graphik-regular';
  src: local("graphik.otf"), url("./Graphik-Regular.woff");
}

@font-face{
  font-family: 'graphik-regular';
  src: local("graphik.otf"), url("./Graphik-Regular.woff");
}

@font-face{
  font-family: 'graphik-regular-italic';
  src: local("graphik.otf"), url("./Graphik-RegularItalic.woff");
}

@font-face{
  font-family: 'akkurat';
  src: local("graphik.otf"), url("./AkkuratMono-Regular.woff2");
}

@font-face{
  font-family: 'akkurat';
  src: local("graphik.otf"), url("./AkkuratMono-Regular.woff2");
}

.canela-bold{
  font-family: 'canela-bold';
  line-height: 1.33em
}

.graphik{
  font-family: 'graphik';
  line-height: 2em;
}

.graphik-medium{
  font-family: "graphik-medium"
}



.graphik-regular{
  font-family: "graphik-regular"
}

.graphik-regular-italic{
  font-family: "graphik-regular-italic";
}

.graphik-regular-italic.font-body{
  font-size: 14px;
}

.internship a{
  font-family: "graphik-regular-italic";
  font-size: 14px;
}

.graphik-description{
  font-size: 12px;
}

.akkurat{
  font-family: "akkurat";
}

.akkurat-title{
  font-size: 18px;
}

.akkurat-year{
  font-size: 12px;
}

.akkurat-pro{
  font-family: "akkurat";
}

.akkurat-medium{
  font-family: "akkurat";
  font-size: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.graphik-body{
  font-size: 14px;
  line-height: 1.8em;
  color: #0A6655;
}

.graphik-body a{
  color: #01AC82;
}

a:hover:after{
  position: absolute;
  content: " ";
  bottom: -5px;
  height: 4px;
  background-image: url( "../assets/squig.png" );
  background-size: auto 100%;
  width: 100%;
  left: 0px;
}

.project__drawer__markdown{
  font-family: "graphik-regular";
  font-size: 14px;

}

.project__drawer__markdown p:first-child{
  margin-top: 60px;
}
